POSTGRES_DB=biwenger
POSTGRES_USER=biwenger
POSTGRES_PASSWORD=change_me

BIWENGER_TOKEN=
BIWENGER_LEAGUE_ID=
BIWENGER_USER_ID=
BIWENGER_VERSION=

BIWENGER_SYNC_ENABLED=true
BIWENGER_SYNC_INTERVAL_MS=300000