BIWENGER_BASE_URL=https://biwenger.as.com
BIWENGER_TOKEN=
BIWENGER_LEAGUE_ID=
BIWENGER_USER_ID=
BIWENGER_VERSION=
BIWENGER_LANGUAGE=es
BIWENGER_CDN_BASE_URL=https://cf.biwenger.com
BIWENGER_COMPETITION=la-liga
BIWENGER_SCORE=100